.App-logo {
  width: 70vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 600px;
  min-width: 350px;
  padding: 15px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

